@use "../abstracts/" as *;
.background{
    --background-url: url(/assets/images/background-pattern-mobile.svg);
    position: relative;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    align-items: center; */
    @include responsive-spacing(padding-top, $background-padding-top);
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        padding-top: 320px;
        background-image: var(--background-url);
    }

    @include mq(medium){
        --background-url: url(/assets/images/background-pattern-desktop.svg);
    }
}